    div
      ul.thumbnails
        li.span2
          .thumbnail
            img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/2325704772/wrrmef61i6jl91kwkmzq.png", style="height: 128px; width:128px; background-color: #3333ff")
            .caption
              h4 Barack Obama
        li.span2
          .thumbnail
            img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/2624978379/chw1hdzozfdew973pvjr.png", style="height: 128px; width:128px; background-color: #ff3333")
            .caption
              h4 Mitt Romney
        li.span2
          .thumbnail
            img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/1454302200/GJTwitter.png", style="height: 128px; width:128px; background-color: #ffcc00")
            .caption
              h4 Gary Johnson
        li.span2
          .thumbnail
            img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/2208516680/Jill-Stein-A-thumbnail_reasonably_small.png", style="height: 128px; width:128px; background-color: #0bda51")
            .caption
              h4 Jill Stein
        li.span2
          .thumbnail
            img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/2299471056/Virgil_Goode_reasonably_small.jpg", style="height: 128px; width:128px; background-color: #a356de")
            .caption
              h4 Virgil Goode
              
              
              
              #candidates
                ul.thumbnails.span
                  li.span2
                    img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/2325704772/wrrmef61i6jl91kwkmzq.png", style="height: 128px; width:128px; background-color: #3333ff")
                    h4 Barack Obama
                ul.thumbnails.span
                  li.span2
                    img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/2624978379/chw1hdzozfdew973pvjr.png", style="height: 128px; width:128px; background-color: #ff3333")
                    h4 Mitt Romney
                ul.thumbnails.span
                  li.span2
                    img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/1454302200/GJTwitter.png", style="height: 128px; width:128px; background-color: #ffcc00")
                    h4 Gary Johnson
                ul.thumbnails.span
                  li.span2
                    img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/2208516680/Jill-Stein-A-thumbnail_reasonably_small.png", style="height: 128px; width:128px; background-color: #0bda51")
                    h4 Jill Stein
                ul.thumbnails.span
                  li.span2
                    img.img-polaroid(src="https://twimg0-a.akamaihd.net/profile_images/2299471056/Virgil_Goode_reasonably_small.jpg", style="height: 128px; width:128px; background-color: #a356de")
                    h4 Virgil Goode Jr