body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media (min-width: 768px) and (max-width: 979px) {
  .span2 {
    width: 140px;
  }
}

@media (max-width: 767px) {
  .span2 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }
  ul {
    margin-left: 0px;
  }
  .span2 {
    margin-left: 0px;
  }
}

#twitter-widget-0 {
  width: 80%;
}